In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis = 1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df.APPLICATION_TYPE.value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_type_counts[app_type_counts < 200].index)
# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_counts[classification_counts < 100].index)
# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [10]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))
# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\varun\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\varun\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Standardize dataset 
scaler = StandardScaler()
scaler.fit(application_df)
scaled_data = scaler.transform(application_df)
transformed_scaled_app_df = pd.DataFrame(scaled_data, columns = application_df.columns)
transformed_scaled_app_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.012075,-0.031725,0.937158,-0.090068,7.997514,-0.179013,-1.929528,-0.216965,-0.188176,-0.191719,...,-0.14726,-0.126831,-0.330307,-0.083944,-0.169236,-0.350205,-0.063789,-0.073641,0.028068,-0.028068
1,0.012075,-0.030536,0.937158,-0.090068,-0.125039,-0.179013,0.518261,-0.216965,-0.188176,-0.191719,...,6.79073,-0.126831,-0.330307,-0.083944,-0.169236,-0.350205,-0.063789,-0.073641,0.028068,-0.028068
2,0.012075,-0.031725,-1.067056,-0.090068,-0.125039,-0.179013,-1.929528,-0.216965,5.314171,-0.191719,...,-0.14726,-0.126831,-0.330307,-0.083944,-0.169236,-0.350205,-0.063789,-0.073641,0.028068,-0.028068
3,0.012075,-0.031706,0.937158,-0.090068,-0.125039,-0.179013,0.518261,-0.216965,-0.188176,-0.191719,...,-0.14726,7.884526,-0.330307,-0.083944,-0.169236,-0.350205,-0.063789,-0.073641,0.028068,-0.028068
4,0.012075,-0.030146,0.937158,-0.090068,-0.125039,-0.179013,0.518261,-0.216965,-0.188176,-0.191719,...,-0.14726,-0.126831,3.027487,-0.083944,-0.169236,-0.350205,-0.063789,-0.073641,0.028068,-0.028068

In [13]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = transformed_scaled_app_df.drop(["IS_SUCCESSFUL"],1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\varun\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 30
hidden_nodes_layer2 = 16

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                1500

 dense_1 (Dense)             (None, 16)                496

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 2,013
Trainable params: 2,013
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq = 'epoch')

# Train the model
fit_model = nn.fit(X_train,y_train,epochs=20, callbacks=[cp_callback])

Epoch 1/20
758/804 [===========================>..] - ETA: 0s - loss: 0.5814 - accuracy: 0.7111
Epoch 00001: saving model to checkpoints\weights.01.hdf5
804/804 [==============================] - 1s 980us/step - loss: 0.5792 - accuracy: 0.7128
Epoch 2/20
793/804 [============================>.] - ETA: 0s - loss: 0.5536 - accuracy: 0.7308
Epoch 00002: saving model to checkpoints\weights.02.hdf5
804/804 [==============================] - 1s 990us/step - loss: 0.5539 - accuracy: 0.7307
Epoch 3/20
771/804 [===========================>..] - ETA: 0s - loss: 0.5497 - accuracy: 0.7318
Epoch 00003: saving model to checkpoints\weights.03.hdf5
804/804 [==============================] - 1s 950us/step - loss: 0.5500 - accuracy: 0.7318
Epoch 4/20
768/804 [===========================>..] - ETA: 0s - loss: 0.5481 - accuracy: 0.7334
Epoch 00004: saving model to checkpoints\weights.04.hdf5
804/804 [==============================] - 1s 960us/step - loss: 0.5488 - accuracy: 0.7331
Epoch 5/20
785/804 [============================>.] - ETA: 0s - loss: 0.5476 - accuracy: 0.7339
Epoch 00005: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 1s 944us/step - loss: 0.5476 - accuracy: 0.7338
Epoch 6/20
751/804 [===========================>..] - ETA: 0s - loss: 0.5465 - accuracy: 0.7345
Epoch 00006: saving model to checkpoints\weights.06.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7341
Epoch 7/20
803/804 [============================>.] - ETA: 0s - loss: 0.5458 - accuracy: 0.7345 ETA: 0s - loss: 0.5453 - accura
Epoch 00007: saving model to checkpoints\weights.07.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7345
Epoch 8/20
791/804 [============================>.] - ETA: 0s - loss: 0.5457 - accuracy: 0.7334
Epoch 00008: saving model to checkpoints\weights.08.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7339
Epoch 9/20
802/804 [============================>.] - ETA: 0s - loss: 0.5441 - accuracy: 0.7350
Epoch 00009: saving model to checkpoints\weights.09.hdf5
804/804 [==============================] - 1s 992us/step - loss: 0.5440 - accuracy: 0.7352
Epoch 10/20
758/804 [===========================>..] - ETA: 0s - loss: 0.5446 - accuracy: 0.7345
Epoch 00010: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 1s 973us/step - loss: 0.5434 - accuracy: 0.7353
Epoch 11/20
745/804 [==========================>...] - ETA: 0s - loss: 0.5434 - accuracy: 0.7354
Epoch 00011: saving model to checkpoints\weights.11.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7354
Epoch 12/20
773/804 [===========================>..] - ETA: 0s - loss: 0.5431 - accuracy: 0.7360
Epoch 00012: saving model to checkpoints\weights.12.hdf5
804/804 [==============================] - 1s 961us/step - loss: 0.5430 - accuracy: 0.7359
Epoch 13/20
780/804 [============================>.] - ETA: 0s - loss: 0.5431 - accuracy: 0.7354
Epoch 00013: saving model to checkpoints\weights.13.hdf5
804/804 [==============================] - 1s 957us/step - loss: 0.5429 - accuracy: 0.7355
Epoch 14/20
787/804 [============================>.] - ETA: 0s - loss: 0.5429 - accuracy: 0.7349
Epoch 00014: saving model to checkpoints\weights.14.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7349
Epoch 15/20
746/804 [==========================>...] - ETA: 0s - loss: 0.5419 - accuracy: 0.7360
Epoch 00015: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 1s 975us/step - loss: 0.5423 - accuracy: 0.7355
Epoch 16/20
771/804 [===========================>..] - ETA: 0s - loss: 0.5420 - accuracy: 0.7365
Epoch 00016: saving model to checkpoints\weights.16.hdf5
804/804 [==============================] - 1s 968us/step - loss: 0.5419 - accuracy: 0.7366
Epoch 17/20
750/804 [==========================>...] - ETA: 0s - loss: 0.5407 - accuracy: 0.7378
Epoch 00017: saving model to checkpoints\weights.17.hdf5
804/804 [==============================] - 1s 928us/step - loss: 0.5416 - accuracy: 0.7367
Epoch 18/20
797/804 [============================>.] - ETA: 0s - loss: 0.5417 - accuracy: 0.7373
Epoch 00018: saving model to checkpoints\weights.18.hdf5
804/804 [==============================] - 1s 992us/step - loss: 0.5417 - accuracy: 0.7372
Epoch 19/20
792/804 [============================>.] - ETA: 0s - loss: 0.5410 - accuracy: 0.7367
Epoch 00019: saving model to checkpoints\weights.19.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7362
Epoch 20/20
761/804 [===========================>..] - ETA: 0s - loss: 0.5407 - accuracy: 0.7370
Epoch 00020: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7371

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5502 - accuracy: 0.7252 - 305ms/epoch - 1ms/step
Loss: 0.5501887202262878, Accuracy: 0.7252478003501892

In [20]:
#Could not get 75% 
#Things changed: classification and apptype binning changed, number of nodes for both layers changed, 
#standardized data(biggest boost in accuracy)

In [21]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")